
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(178, 188, 237); 
  color: rgb(0, 0, 0); 
  height: 100vh; 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.app-header {
  text-align: center;
  margin-top: 20px;
}

.app-header h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(6, 6, 6); 
}


main {
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.MuiGrid-item {
  flex: 1;
  padding: 20px;
}

.MuiContainer-root {
  padding-top: 50px;
}
